/* ############################################################ */
/* ############################################################ */
/* ####################### CSS RESET ########################## */
/* ############################################################ */
/* ############################################################ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ############################################################ */
/* ############################################################ */
/* ################## MY STYLING ############################## */
/* ############################################################ */
/* ############################################################ */

body,
html {
  background-color: azure;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}
.outer-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  display: flex;
  align-items: stretch;
  width: 90%;
  min-height: 70vh;
  justify-content: center;
}
.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 40%;
  max-width: 40%;
}
.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  min-width: 40%;
  max-width: 40%;
}
.sign-up-form {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}
.form-input-group {
  padding: 20px;
}

button[type="submit"] {
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title-text {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#disclaimer {
  font-size: 0.5rem;
  margin: 5px;
  color: hsl(249, 10%, 26%);
}
#trial-button {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  box-sizing: border-box;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input {
  display: block;
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid hsl(249, 10%, 26%);
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 7px;
  border-radius: 5px;
  padding: 10px;
  color: hsl(249, 10%, 26%);
}

/* ############################################################ */
/* ############################################################ */
/* ################## Validation Styling ###################### */
/* ############################################################ */
/* ############################################################ */

.error {
  border-color: hsl(0, 100%, 74%);
  border-width: 2px;
  color: hsl(0, 100%, 74%);
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 5px);
  margin-bottom: 3px;
}
.error::placeholder {
  color: hsl(0, 100%, 74%);
}
.error-text {
  text-align: right;
  color: hsl(0, 100%, 74%);
  font-size: 0.5rem;
  margin-bottom: 7px;
}

/* ############################################################ */
/* ############################################################ */
/* #################### MEDIA QUERIES ######################### */
/* ############################################################ */
/* ############################################################ */

@media (max-width: 375px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
  }
  .form-container {
    margin-top: 50px;
  }
  .text-container,
  .form-container {
    text-align: center;
    width: 90%;
    min-width: none;
    max-width: none;
  }
}
